<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/about.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@301&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="/javascripts/about.js"></script>
    <%- include('partials/navbarScripts') %>
</head>
<body>

<%- include('partials/navbar') %>

<div class="container-fluid d-flex justify-content-center bg-custom">
    <div class="row border rounded-5 mt-3 mb-3 bg-white shadow box-signup">
        <div class=" p-3">
            <button type="button" class="btn shadow border rounded-4" onclick=backToHomePage()>
                <img src="/img/left_arrow.png" alt="Left arrow to return to homepage" class="leftArrow">
            </button>
            <div class ="mt-1 px-4" style="max-width: 700px">
                <div class = "row text-center mb-2">
                    <h2>Welcome on our website</h2>
                    <p>We are a team of three university students from the University of Turin, and we are creating this website as a final project for the IUM-TWEB exam.</p>
                </div>
                <div class = "row text-center mb-2">
                    <h2>Our vision</h2>
                    <p>Our goal is to provide football enthusiasts with an engaging and informative online experience. We aim to create a platform that offers rankings, recent matches, statistics, and in-depth analysis of the football world, both nationally and internationally.</p>
                </div>
                <div class = "row text-center mb-2 space">
                <h2>What We Offer</h2>
                    <ul>
                        <li>Latest updates on matches and teams</li>
                        <li>Tactical analyses and detailed statistics</li>
                        <li>Rankings of various leagues, cups, and international competitions</li>
                    </ul>
                </div>
                <div class = "row text-center mb-2">
                <h2>Who is Our Site For?</h2>
                    <ul>
                        <li><strong>For Football Beginners</strong>: Our site is designed to be accessible and informative for those who are new to football, providing easy-to-understand insights and explanations.</li>
                        <li><strong>For Football Fans</strong>: Whether you’re a casual fan or a die-hard supporter, our site offers detailed analyses, statistics, and updates to keep you engaged and informed.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
