<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <%- include('partials/navbarScripts') %>

    <script src="/javascripts/chat.js"></script>
</head>
<body onload="init()">
<%- include('partials/navbar') %>
<div class="main-content">
<!------- select room interface ------->
<div class="container" id="initial_form">
    <div class="row justify-content-center">
        <div class="col-md-4"></div> <!-- left empty space -->
        <div class="col-md-4 chat-room d-flex flex-column justify-content-center align-items-center">
            <div class="text-center mb-3">
                <h2>Join the chat room</h2>
            </div>
            <form onsubmit="return false;">
                <div class="form-group mb-3">
                    <select class="form-select" id="roomNo" name="roomNo">
                        <option value="null">Please wait for the connection to the database</option>
                    </select>
                </div>
                <div class="text-center">
                    <button id="connect" onclick="connectToRoom()" class="btn btn-primary w-70">Start chatting</button>
                </div>
            </form>
            <p class="d-flex align-items-center justify-content-center mt-2 d-none" id="error" style="color: red">Error in communication with servers</p>
        </div>
        <div class="col-md-4"></div> <!-- right empty space -->
    </div>
</div>
<!-- Chat interface -->
<div id="chat_interface" class="container" style="">
    <div id="chat_container" class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div id="who_you_are" class="d-inline mt-5"></div> welcome to
                <p id="in_room" class="font-weight-bold d-inline"></p> chat!
            </div>
            <div id="chat_history" class="boxed mt-3"></div>
            <div id="chat_box" class="bottom boxed mt-3">
                <form onsubmit="return false;">
                    <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control chat-input" id="chat_input" name="chat_input" autocomplete="off">
                        </div>
                        <div class="col-sm-2">
                            <button id="chat_send" onclick="sendChatText()" class="btn btn-primary">Send</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</div>
<%- include('partials/footer') %>
</body>
</html>
