<!DOCTYPE html>
<html>
<head>
    <title>Club valutation</title>
    <link rel="stylesheet" href="/stylesheets/clubValutation.css">
    <%- include('partials/navbarScripts') %>
    <script src="/javascripts/club_valutation.js"></script>
</head>
<body onload="init()">
<%- include('partials/navbar') %>
<p id="results"></p>

<h2 class="text-center club_name" id="club_name"></h2>
<div id="clubDetailsContainer" class="container-fluid mt-5">
    <div class="row">

        <div class="col-md-2 text-center">
            <img src="" alt="Club Logo" class="club_logo" id="club_logo" style="max-width: 125px;">
        </div>

        <div class="col-md-10">
            <table class="table">
                <tbody>
                <tr class="table-primary">
                    <td><span class="dark-label">Squad size:</span> <span class="info squad_size" id="squad_size"></span></td>
                    <td><span class="dark-label">National players:</span> <span class="info national_players" id="national_players"></span></td>
                </tr>
                <tr>
                    <td><span class="dark-label">Foreigners percentage:</span> <span class="info foreigners_age" id="foreigners_age"></span></td>
                    <td>
                        <span class="dark-label">Stadium:</span> <span class="info stadium" id="stadium"></span>
                        (<span class="info stadium_seats" id="stadium_seats"></span> seats)
                    </td>
                </tr>
                <tr class="table-primary">
                    <td><span class="dark-label">Foreigners:</span> <span class="" id="">13</span></td>
                    <td><span class="dark-label">Current transfer record:</span> <span class="info net_transfer" id="net_transfer"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p id="players"></p>
    <p class="mt-5">Players details</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Player</th>
            <th scope="col">Date of Birth/Age</th>
            <th scope="col">Nationality</th>
            <th scope="col">Market Value</th>
        </tr>
        </thead>
        <tbody id="players-table-body">
        <!-- playersData -->
        </tbody>
    </table>
    <div id="pagination" class="d-flex align-items-center mb-5" role="group" aria-label="Pagination">
        <div class="btn-group me-3">
            <button id="prevButton" class="btn btn-primary rounded-pill">Prev</button>
            <button id="nextButton" class="btn btn-primary rounded-pill ms-2">Next</button>
        </div>
        <span class="fw-bold">Show results:</span>
        <span id="pagination_number" class="ms-2"></span>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
