<!DOCTYPE html>
<html>
<head>
    <title>Club valutation</title>
    <link rel="stylesheet" href="/stylesheets/clubValutation.css">
    <%- include('partials/navbarScripts') %>
    <script src="/javascripts/club_valutation.js"></script>
</head>
<body onload="init()">
<%- include('partials/navbar') %>
<!--<p id="results"></p>-->
<div class="main-content">
    <div id="clubDetailsContainer" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table stats-table-dark">
                    <thead>
                    <tr>
                        <th colspan="2" class="club_name text-center" id="club_name">Real Madrid Club de Fútbol</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2" class="noborder text-center">
                            <img src="/mnt/data/real.png" alt="Club Logo" class="club_logo" id="club_logo" style="max-width: 125px;">
                        </td>
                    </tr>
                    <tr>
                        <td class="noborder"><span>Squad size:</span> <span class="info squad_size" id="squad_size">23</span></td>
                        <td class="noborder"><span>National players:</span> <span class="info national_players" id="national_players">19</span></td>
                    </tr>
                    <tr>
                        <td class="noborder"><span>Foreigners percentage:</span> <span class="info foreigners_age" id="foreigners_age">65.2%</span></td>
                        <td class="noborder">
                            <span>Stadium:</span> <span class="info stadium" id="stadium">Santiago Bernabéu</span>
                            (<span class="info stadium_seats" id="stadium_seats">81044</span> seats)
                        </td>
                    </tr>
                    <tr>
                        <td class="noborder"><span>Foreigners:</span> <span class="info" id="foreigners">13</span></td>
                        <td class="noborder"><span>Current transfer record:</span> <span class="info net_transfer" id="net_transfer">€-122.50m</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>




    <!-- ROW -->
    <p id="players"></p>
    <p>Players details</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Player</th>
            <th scope="col">Date of Birth/Age</th>
            <th scope="col">Nationality</th>
            <th scope="col">Market Value</th>
        </tr>
        </thead>
        <tbody id="players-table-body">
        <!-- playersData -->
        </tbody>
    </table>
    <div id="pagination" class="mb-3 pt-1 pb-1">
        <button id="prevButton" class="btn btn-dark btnC">Previous</button>
        <span class="mx-2" style="color: aliceblue;">Page: <span id="pagination_number" class="ms-2 text-white"></span></span>
        <button id="nextButton" class="btn btn-dark btnC">Next</button>
    </div>

</div>
</div>
<%- include('partials/footer') %>
</body>
</html>
