<!DOCTYPE html>
<html>
<head>
    <title>Club valutation</title>
    <link rel="stylesheet" href="/stylesheets/clubValutation.css">
    <%- include('partials/navbarScripts') %>
</head>
<body onload="init()">
<%- include('partials/navbar') %>
<div class="main-content">
<%= searchQuery %>
</div>
<%- include('partials/footer') %>
</body>
</html>
