<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- connect to styles.css -->
  <%- include('partials/navbarScripts') %>
</head>
<body class="body">
<%- include('partials/navbar') %>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 sideContent">
        <h1>Sidebar contents goes here</h1>
      </div>
      <div class="col-9 mainContent">
        <div class="row table">
          <div class="row topTable">
            <div class="col-3 cell" id="topLeft"><img src="img/Champions League/c1.jpg" alt="" class = "cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Champions League/c2.jpg" alt="" class = "cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Champions League/c3.jpg" alt="" class = "cell-img-1"></div>
            <div class="col-3 cell" id="topRight"><img src="img/Champions League/c4.jpg" alt="" class = "cell-img-1"></div>
          </div>
          <div class="row topTable">
            <div class="col-3 cell" id="bottomLeft"><img src="img/Champions League/c5.jpg" alt="" class = "cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Champions League/c6.jpg" alt="" class = "cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Champions League/c7.jpg" alt="" class = "cell-img-1"></div>
            <div class="col-3 cell" id="bottomRight"><img src="img/Champions League/c8.jpg" alt="" class = "cell-img-1"></div>
          </div>
        </div>
        <div class="row table">
          <div class="row topTable">
            <div class="col-3 cell" id="topLeft"><img src="img/Players/p1.png" alt="" class="cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Players/p2.png" alt="" class="cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Players/p3.png" alt="" class="cell-img-1"></div>
            <div class="col-3 cell" id="topRight"><img src="img/Players/p4.png" alt="" class="cell-img-1"></div>
          </div>
          <div class="row topTable">
            <div class="col-3 cell" id="bottomLeft"><img src="img/Players/p5.png" alt="" class="cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Players/p6.png" alt="" class="cell-img-1"></div>
            <div class="col-3 cell"><img src="img/Players/p7.png" alt="" class="cell-img-1"></div>
            <div class="col-3 cell" id="bottomRight"><img src="img/Players/p8.png" alt="" class="cell-img-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %></body>
</html>