<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- connect to styles.css -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@301&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <%- include('partials/navbarScripts') %>
    <script src="/javascripts/popular_players.js"></script>
</head>

<body class="body">
  <%- include('partials/navbar') %>
    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="col-3 sideContent">
            <div class="row"><div class="col-12 sideItem"><h3>Champions League</h3></div></div>
            <div class="row"><div class="col-12 sideItem"><h3 style="margin-bottom: 50px">Popular Players</h3></div></div>
          </div>
          <div class="col-9 mainContent">
            <div class="row table">
              <div class="row topTable">
                <div class="col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4">

                  <a href="http://localhost:3000/competition-league?competition=europa-league&competitionType=europa_league">
                    <img src="img/Champions League/c1.jpg" alt="europe_league" class="">
                  </a>
                </div>
                <div class="col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4">
                  <a href="http://localhost:3000/competition-league?competition=uefa-champions-league&competitionType=uefa_champions_league">
                    <img src="img/Champions League/c2.jpg" alt="champions_league" class="">
                  </a>
                </div>
                <div class="col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4">

                  <a href="http://localhost:3000/competition-table?competition=premier-league&country=England">
                    <img src="img/Champions League/c3.jpg" alt="premier_league" class="">
                  </a>
                </div>
                <div class="col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4"
                  id="topRight">

                  <a href="http://localhost:3000/competition-table?competition=serie-a&country=Italy">
                    <img src="img/Champions League/c4.jpg" alt="serie_a" class=""></a>
                </div>
              </div>
              <div class="row topTable">
                <div class="ml-5 col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4"
                  id="bottomLeft">

                  <a href="https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/canadamexicousa2026">
                    <img src="img/Champions League/c5.jpg" alt="fifa_world_cup_external_page" class=""></a>
                </div>
                <div class="col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4">

                  <a href="http://localhost:3000/competition-table?competition=ligue-1&country=France">
                    <img src="img/Champions League/c6.jpg" alt="ligue-1" class=""></a>
                </div>
                <div class="col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4">

                  <a href="https://www.lfp.fr/">
                    <img src="img/Champions League/c7.jpg" alt="lfp_esterno" class=""></a>
                </div>
                <div class="col-6 col-sm-3 cell text-center d-flex align-items-center justify-content-center py-4"
                  id="bottomRight">

                  <a href="http://localhost:3000/competition-table?competition=bundesliga&country=Germany">
                    <img src="img/Champions League/c8.jpg" alt="bundesliga" class="">
                  </a>
                </div>
              </div>
            </div>
            <div class="row table text-center">
              <div class="row topTable text-center d-flex align-items-center justify-content-center">
                <div class="col-6 col-sm-3 cell py-4" id="topLeft">
                  <div class="image-container">
                    <a href="#" id="player-link-1">
                      <img id="player-1" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-3 cell py-4">
                  <div class="image-container">
                    <a href="#" id="player-link-2">
                      <img id="player-2" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-3 cell py-4">
                  <div class="image-container">
                    <a href="#" id="player-link-3">
                      <img id="player-3" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-3 cell py-4" id="topRight">
                  <div class="image-container">
                    <a href="#" id="player-link-4">
                      <img id="player-4" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
              </div>
              <div class="row topTable">
                <div class="col-6 col-sm-3 cell py-4" id="bottomLeft">
                  <div class="image-container">
                    <a href="#" id="player-link-5">
                      <img id="player-5" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-3 cell py-4">
                  <div class="image-container">
                    <a href="#" id="player-link-6">
                      <img id="player-6" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-3 cell py-4">
                  <div class="image-container">
                    <a href="#" id="player-link-7">
                      <img id="player-7" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-3 cell py-4" id="bottomRight">
                  <div class="image-container">
                    <a href="#" id="player-link-8">
                      <img id="player-8" src="img/Players/default.webp" alt="" class="cell-img">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>