<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginUser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet">
    <script src="/javascripts/login.js"></script>
    <%- include('partials/navbarScripts') %>
</head>
<body onload="init()">
<%- include('partials/navbar') %>
<div class="container-fluid d-flex justify-content-center bg-custom" >
    <div class="row border rounded-5 mt-3 mb-3 p-2 bg-white shadow box-area">
        <div class=" p-3">
            <button type="button" class="btn shadow border rounded-4" onclick="backToHomePage()">
                <img src="/img/left_arrow.png" alt="Left arrow to return to homepage" class="leftArrow">
            </button>
            <div class="d-flex flex-column align-items-center" id="boxFormLogin">
                <h1 id="loginHeader" class="text-center mt-2 mb-3">Welcome back!</h1>
                <div class="col-md-12 mt-2 d-flex justify-content-center">
                    <form action="/loginComplete" method="post" id="form" class="w-75" style="max-width: 400px;">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" id="nickname" name="nickname" required placeholder="Enter your Nickname" style="background-color: #D9D9D9; opacity: 60%">
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control form-control-lg" id="password" name="password" required placeholder="Password" style="background-color: #D9D9D9; opacity: 60%">
                        </div>
                        <button class="btn btn-lg btn-primary w-100 fs-7" id="submitForm" value="submit" type="submit" style="background-color: #1E232C; color: #FFFFFF">Login</button>
                    </form>
                </div>
                <div class="col-md-12 mt-3 w-75 " style="max-width: 400px;">
                    <div class="row">
                        <div class="col-4">
                            <hr>
                        </div>
                        <div class="col-4 text-center">
                            <p class="text">Or Login with</p>
                        </div>
                        <div class="col-4">
                            <hr>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 d-flex justify-content-center">
                            <button type="button" class="btn shadow border rounded-4">
                                <img src="/img/facebook.png" id="facebook" alt="Login with Facebook">
                            </button>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <button type="button" class="btn shadow border rounded-4">
                                <img src="/img/google.png" id="google" alt="Login with Google">
                            </button>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <button type="button" class="btn shadow border rounded-4">
                                <img src="/img/apple.png" id="apple" alt="Login with Apple">
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="row mt-3">
                            <div class="col-7">
                                <p>Don’t have an account?</p>
                            </div>
                            <div class="col-5">
                                <a href="http://localhost:3000/signUp" style="color: #35C2C1">Register Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>