<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginUser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet">
    <script src="/javascripts/login.js"></script>
    <%- include('partials/navbarScripts') %>
</head>
<body onload="init()">
<%- include('partials/navbar') %>
<div class="container-fluid d-flex justify-content-center bg-custom" id= "login_background">
    <div class="row border rounded-5 mt-5 mb-5 p-2 bg-white shadow box-area">
        <div class="box">
                <button type="button" class="btn shadow border rounded-4" onclick="backToHomePage()">
                     <img src="/img/left_arrow.png" alt="Left arrow to return to homepage" id ="leftArrow">
                </button>
            <div class="d-flex flex-column align-items-center" id="boxFormLogin">
                <h1 id="loginHeader" class="text-center mt-3 mb-3"> Welcome back! </h1>
                <div class="col-md-6 mt-5 ">
                    <form action="/loginComplete" method="post" id="form">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="nickname" name="nickname" required placeholder="Enter your Nickname">
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button class="btn btn-lg btn-primary w-100 fs-6" id="submitForm" value="submit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
</body>
</html>