<!DOCTYPE html>
<html>
<head>
    <title>Player valutation</title>
    <link rel="stylesheet" href="/stylesheets/player-valutation.css">
    <%- include('partials/navbarScripts') %>
    <script src="/javascripts/player_valutation.js"></script>
</head>
<body onload="init()">
<%- include('partials/navbar') %>
<div class="main-content">
    <div class="container player-profile">
        <div class="row">
            <div class="col-md-5 text-center">
                <div class="stats-table-dark mt-2 mb-5">
                    <img src="https://img.a.transfermarkt.technology/portrait/header/418560-1694590614.jpg?lm=1" alt="Erling Haaland" class="pt-5 player-profile img-fluid d-block mx-auto">

                    <table class="table table-white">
                            <h2>Erling Haaland</h2>
                        <hr>
                        <tbody>
                        <tr>
                            <td class="noborder"><strong>Nationality:</strong> Norway</td>
                            <td class="noborder"><strong>Club:</strong> Manchester City</td>
                        </tr>

                        <tr>
                            <td class="noborder"><strong>Role:</strong> Striker</td>
                            <td class="noborder"><strong>Age:</strong> 23 Years Old (21 July 2000)</td>
                        </tr>
                        <tr>
                            <td class="noborder"><strong>Height:</strong> 194 cm</td>
                            <td class="noborder"><strong>Market value:</strong> €187 Mil</td>
                        </tr>
                        <tr>
                            <td class="noborder"><strong>Preferred foot:</strong> Left Foot</td>
                            <td class="noborder"><strong>Shirt Number:</strong> 9</td>
                        </tr>
                        <tr>
                            <td class="noborder"><strong>Goals:</strong> 20</td>
                            <td class="noborder"><strong>Assists:</strong> 5</td>
                        </tr>
                        <tr>
                            <td class="noborder"><strong>Games Played:</strong> 26</td>
                            <td class="noborder"><strong>Minutes Played:</strong> 2185</td>
                        </tr>
                        <tr>
                            <td class="noborder"><strong>Yellow Cards:</strong> 1</td>
                            <td class="noborder"><strong>Red Cards:</strong> 0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row mt-2 mb-5">
                    <table class="table table-dark stats-table-dark">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Match</th>
                            <th>Result</th>
                            <th>Goals</th>
                            <th>Assists</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <tr>
                            <td class="noborder">Apr 13</td>
                            <td class="noborder">Luton Town</td>
                            <td class="noborder">5-1</td>
                            <td class="noborder">1</td>
                            <td class="noborder">0</td>
                        </tr>
                        <!-- Aggiungi altre righe qui se necessario -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
