<!DOCTYPE html>
<html>
<head>
    <title>Player valutation</title>
    <link rel="stylesheet" href="/stylesheets/clubValutation.css">
    <%- include('partials/navbarScripts') %>
    <script src="/javascripts/player_valutation.js"></script>
</head>
<body onload="init()">
<%- include('partials/navbar') %>

<p id="results"></p>

<%- include('partials/footer') %>
</body>
</html>
