<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/signup.css" rel="stylesheet">
    <script src="/javascripts/signUp.js"></script>
    <%- include('partials/navbarScripts') %>
</head>
<body onload="init()">

<%- include('partials/navbar') %>

<div class="container-fluid d-flex justify-content-center bg-custom" id="signUp_background">
    <div class="row border rounded-5 mt-3 mb-2 p-2 bg-white shadow ">
        <div id ="boxForSignUp">
             <form action="/signUpComplete" method="post" id="form">
                  <div id = "first">
                      <div class="p-3">
                          <button type="button" class="btn shadow border rounded-4" onclick="backToLogin()">
                              <img src="/img/left_arrow.png" alt="Left arrow to return to homepage" id="leftArrow">
                          </button>
                      </div>
                      <div class="d-flex flex-column align-items-center "  id="boxFormSignUp">
                          <h1 class="text-center mt-2 mb-1 signUpHeader"> Hello! </h1>
                          <h1 class="text-center signUpHeader"> Register to get started</h1>
                          <div class="mt-3 w-75"  style="max-width: 400px;">
                               <div class="mb-3">
                                  <input type="text" class="form-control form-control-lg" id="nickname" name="nickname" required placeholder="Enter your Nickname" style="background-color: #D9D9D9; opacity: 60%">
                              </div>
                              <div class="mb-3">
                                  <input type="text" class="form-control form-control-lg" id="email" name="email" required placeholder="Email" style="background-color: #D9D9D9; opacity: 60%">
                              </div>
                              <div class="mb-4">
                                  <input type="password" class="form-control form-control-lg" id="password" name="password" required placeholder="Password" style="background-color: #D9D9D9; opacity: 60%">
                              </div>
                              <div class="mb-3">
                                  <input type="text" class="form-control form-control-lg" id="correctPassword" name="correctPassword" required placeholder="Confirm Password" style="background-color: #D9D9D9; opacity: 60%">
                              </div>
                              <button class="btn btn-lg btn-primary w-100 fs-7" id="submitForm" value="submit" type="submit" style="background-color: #1E232C; color: #FFFFFF">Login</button>
                          </div>
                      </div>
                  </div>
             </form>
        </div>
        <div class="d-flex flex-column align-items-center " id="boxFormSignUp">
            <div class="mt-3 w-75"  style="max-width: 400px;">
                <div class="row">
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4 text-center">
                        <p class="text">Or Sign Up with</p>
                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <button type="button" class="btn shadow border rounded-4 ">
                            <img src="/img/facebook.png" id="facebook" alt="Login with facebook">
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn shadow border rounded-4 ">
                            <img src="/img/google.png" id="google" alt="Login with google">
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn shadow border rounded-4">
                            <img src="/img/apple.png" id="apple" alt="login with apple">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
