<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/signUp.css" rel="stylesheet">
    <script src="/javascripts/signUp.js"></script>
    <%- include('partials/navbarScripts') %>
</head>
<body onload="initial()">
<%- include('partials/navbar') %>
<div class="container d-flex justify-content-center mt-3 mb-3">
    <div class="row">
        <h1 class="text-center"><i>SignUp</i></h1>
        <div class = "text-center">
            <div class="segment active" id="firstStep">
                <div class="circle">1</div>
                <div class="label">PERSONAL DATA</div>
                <div class="line"></div>
            </div>
            <div class="segment second">
                <div class="circle">2</div>
                <div class="label ">CREDENTIALS</div>
                <div class="line"></div>
            </div>
            <div class="segment third">
                <div class="circle">3</div>
                <div class="label">NICKNAME</div>
            </div>
        </div>
        <form action="/signUpComplete" id="form" method="post" class="pt-10 mt-5">
            <div class="container first" id="first">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="surname" class="form-label">Surname:</label>
                        <input type="text" class="form-control" id="surname" name="surname" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="city" class="form-label">City:</label>
                        <input type="text" class="form-control" id="city" name="city" required placeholder="Example Turin">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nation" class="form-label">Nation:</label>
                        <input type="text" class="form-control" id="nation" name="nation" required placeholder="Example Italy">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="address" class="form-label">Address:</label>
                        <input type="text" class="form-control" id="address" name="address" required placeholder="Example Via Vittorio Amedeo II">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="number" class="form-label">Number:</label>
                        <input type="text" class="form-control" id="number" name="number" required placeholder="Example 8">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6 mb-3">
                        <label for="telephone_number" class="form-label">Telephone number:</label>
                        <input type="tel" class="form-control" id="telephone_number" name="telephone_number" required placeholder="In format +39 484349349">
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <hr>
                <div class="row justify-content-end">
                    <div class="col-md-6 text-end">
                        <button type="submit" class="btn btn-primary" id="firstButton">Next</button>
                    </div>
                </div>
            </div>

            <!-- Second section of the form -->
            <div class="container second" id="second">
                <div class="row justify-content-center ">
                    <div class="col-md-8 mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="Es username@gmail.com">
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                    <div class="col-md-8  exclude-justify">
                        <span>Password Criteria:
                            <br>
                            - At least 8 characters long
                            <br>
                            - Must contain at least one number
                            <br>
                            - Must contain at least one special character (e.g., !@#$%^&*()_+{}[]:;<>,.?~\/-)
                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 text-start">
                        <button type="submit" class="btn btn-primary" id="secondButtonPrev">Prev</button>
                    </div>
                    <div class="col-6 text-end">
                        <button type="submit" class="btn btn-primary" id="secondButtonNext">Next</button>
                    </div>
                </div>
            </div>

            <!-- Third section of the form -->
            <div class="container third" id="third">
                <div class="row justify-content-center">
                    <div class="col-md-7 mb-3">
                        <label for="nickname" class="form-label">Choose your Nickname:</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 text-start">
                        <button type="submit" class="btn btn-primary" id="thirdButtonPrev">Prev</button>
                    </div>
                    <div class="col-6 text-end">
                        <button type="submit" class="btn btn-primary" value="submit" id="send">Complete SignUp</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
