<!--<link rel="stylesheet" type="text/css" href="../../public/stylesheets/footer.css">-->

<footer class="footer text-white py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col py-2">
                <h5>Team Members</h5>
                <p>Bilguun Batsaikhan - ID: 12345</p>
                <p>Alex Agliuzza - ID: 67890</p>
                <p>Emanuele Machetti - ID: 13579</p>
            </div>
            <div class="col py-2">
                <h5>Useful Links</h5>
                <a href="#" class="text-white">Home Page</a><br>
                <a href="#" class="text-white">About Us</a><br>
                <!-- Add more links as needed -->
            </div>
            <div class="col py-2">
                <h5>Contact</h5>
                <p>Email: example@example.com</p>
                <p>Phone: 123-456-7890</p>
            </div>
            <div class="col py-2">
                <h5>Social Media</h5>
                <div class="row">
                    <div class="col-3 icon-padding text-center d-flex align-items-center justify-content-center">
                        <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons.png" alt=""></a>
                    </div>
                    <div class="col-3 icon-padding text-center d-flex align-items-center justify-content-center">
                        <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons-1.png" alt=""></a>
                    </div>
                    <div class="col-3 icon-padding text-center d-flex align-items-center justify-content-center">
                        <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons-2.png" alt=""></a>
                    </div>
                    <div class="col-3 icon-padding text-center d-flex align-items-center justify-content-center">
                        <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons-3.png" alt=""></a>
                    </div>
                </div>
<!--                <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons.png" alt=""></a><br>-->
<!--                <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons-1.png" alt=""></a><br>-->
<!--                <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons-2.png" alt=""></a><br>-->
<!--                <a href="#" class="text-white"><img class = "social-icons" src="img/Social Icons/Social Icons-3.png" alt=""></a><br>-->
                <!-- Add more social media links as needed -->
            </div>
        </div>
    </div>
</footer>