<!--<link rel="stylesheet" type="text/css" href="../../public/stylesheets/footer.css">-->

<footer class="footer bg-dark text-white py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h5>Team Members</h5>
                <p>Bilguun Batsaikhan - ID: 12345</p>
                <p>Alex Agliuzza - ID: 67890</p>
                <p>Emanuele Machetti - ID: 13579</p>
            </div>
            <div class="col">
                <h5>Useful Links</h5>
                <a href="#" class="text-white">Link 1</a><br>
                <a href="#" class="text-white">Link 2</a><br>
                <!-- Add more links as needed -->
            </div>
            <div class="col">
                <h5>Contact</h5>
                <p>Email: example@example.com</p>
                <p>Phone: 123-456-7890</p>
            </div>
            <div class="col">
                <h5>Social Media</h5>
                <a href="#" class="text-white">Facebook</a><br>
                <a href="#" class="text-white">Twitter</a><br>
                <!-- Add more social media links as needed -->
            </div>
        </div>
    </div>
</footer>