<!--<link rel="stylesheet" type="text/css" href="../../public/stylesheets/footer.css">-->

<!-- Footer -->
<footer class="footer text-white py-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 py-2">
                <h5>Team Members</h5>
                <p>Bilguun Batsaikhan - ID: 12345</p>
                <p>Alex Agliuzza - ID: 67890</p>
                <p>Emanuele Machetti - ID: 13579</p>
            </div>
            <div class="col-md-3 col-sm-6 py-2">
                <h5>Useful Links</h5>
                <a href="/" class="text-white d-block">Home Page</a>
                <a href="/about" class="text-white d-block">About Us</a>
                <!-- Add more links as needed -->
            </div>
            <div class="col-md-3 col-sm-6 py-2">
                <h5>Contact</h5>
                <p>Email: example@example.com</p>
                <p>Phone: 123-456-7890</p>
            </div>
            <div class="col-md-3 col-sm-6 py-2">
                <h5>Social Media</h5>
                <div class="d-flex justify-content-center">
                    <a href="#" class="text-white icon-padding">
                        <img class="social-icons" src="/img/Social_Icons/Social_Icons.png" alt="Facebook">
                    </a>
                    <a href="#" class="text-white icon-padding">
                        <img class="social-icons" src="/img/Social_Icons/Social_Icons-1.png" alt="Twitter">
                    </a>
                    <a href="#" class="text-white icon-padding">
                        <img class="social-icons" src="/img/Social_Icons/Social_Icons-2.png" alt="Instagram">
                    </a>
                    <a href="#" class="text-white icon-padding">
                        <img class="social-icons" src="/img/Social_Icons/Social_Icons-3.png" alt="LinkedIn">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>