<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
        <div class="container">
            <div class="row w-100">
                <div class="col-md-2 d-flex justify-content-start">
                    <a class="navbar-brand" href="/">
                        <img src="/img/logo.png" alt="Logo" style="height: 80px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="col-md-7 d-flex">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav justify-content-around w-100">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Competitions
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Competition Type</a>
                                        <ul class="dropdown-menu" id = "competitionType">

                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Competition Country</a>
                                        <ul class="dropdown-menu" id="country">
                                            <!-- Country list items will be added here -->
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else...</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/chat">Chat</a>
                            </li>
                            <li class="nav-item">
                                <input class="ms-2 form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                                <div id="searchResults" class="dropdown-menu" style="width:100%;">
                                    <!-- search results here -->
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-md-0 mt-3">
                    <div class="d-flex justify-content-end" id="buttonUser">
                        <form action="/login" method="POST" class="ms-5">
                            <button class="btn rounded-pill me-2 login">Login</button>
                        </form>
                        <form action="/signUp" method="POST">
                            <button class="btn rounded-pill me-2 signup">Signup</button>
                        </form>
                    </div>
                    <div class="d-flex justify-content-end" id="nickNameLabel">
                        <p id="nickNameP"></p>
                        <button class="btn rounded-pill logout" id="logoutButton">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>