.bg-custom {
    background-image: url('../img/background_photo.webp');
    background-size: cover;
    background-position: center;
}

.box-about{
    min-height: 80vh;
    min-width: 85vh;
    margin: auto;
}
.leftArrow{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    padding-left: 40px;
}

.p{
    font-family: 'Urbanist', sans-serif;
    font-size: 17px;
}