.club_logo {
    max-width: 125px;
    max-height: 125px;
    margin-right: 30px;
}

.club_name{
    margin-top: 35px;
}

span {
    display: contents;
}

.table-primary .dark-label, .dark-label {
    color: #000; /* Imposta il colore a nero */
    font-weight: bold; /* Rende il testo più marcato/grassetto */
}