body {
    /*background-image: url("../img/stadium.jpg");*/
    background-color: #1f2833;
}

#currentPage {
    color: aliceblue;
}

.btnC {
    background-color: #3f474f;
    color: #fff;
    border-radius: 5px;
    border: solid 2px aliceblue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.table {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.table thead th {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 0.5px solid aliceblue;
    color: #000000;
    text-align: center;
    vertical-align: middle; /* Add this line */
    text-justify: center;
}
.table tbody td {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    border: 0.5px solid aliceblue;
}

.table tbody td a {
    text-decoration: none;
}

