.bg-custom {
    background-image: url('../img/background_photo.webp');
    background-size: cover;
    background-position: center;
}

#loginHeader{
    font-size: 35px;
}

#boxFormLogin{
    margin: auto;
}

#leftArrow{
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
}

#facebook
{
    padding: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google
{
    padding: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apple{
    padding: 17px;
    height: 63px;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text {
    margin-top: 5px;
    white-space: nowrap;
    text-shadow: black;
    text-align: center;
}