.player-profile {
    width: 150px;
}

.stats-table-dark, table.stats-table-dark{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white !important;
}
.table{
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
}
.table-white{
    background-color: transparent !important;
    color: white !important;
}
.stats-table {
    border-radius: 10px;
    padding: 10px;
    color: white !important;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6); !important;
}
td, th, .list-group-item{
    background-color: transparent !important;
    color: white !important;
}

.noborder{
    border:none;
}

#pagination {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0 !important;
}
#currentPage {
    color: aliceblue;
}

.btnC {
    background-color: #3f474f;
    color: #fff;
    border-radius: 5px;
    border: solid 2px aliceblue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

a#match-table-body{
    color: white !important;
}