h1 {
    font-size: 5px;
    letter-spacing: 3px;
}



.bg-custom {
    background-image: url('../img/background_photo.webp');
    background-size: cover;
    background-position: center;
}
#leftArrow{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#facebook
{
    padding: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google
{
    padding: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apple{
    padding: 17px;
    height: 63px;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUp_background {
    height: 100vh;
}

#boxFormSignUp{
    margin: auto;
}