/* Media Queries */
@media (max-width: 820px), (max-width: 768px), (max-width: 1024px), (max-width: 912px), (max-width: 540px) {
  .cell {
    width: 100%;
    padding: 10px !important;
  }
  .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .table {
    padding-right: 0 !important;
  }

  .cell-img-1, .cell-img-2 {
    width: 30%;
    height: auto;
  }
  .cell {
    padding: 10px !important;
  }

}

@media (max-width: 540px) {
  #topRight, #topLeft, #bottomRight, #bottomLeft {
    border-radius: 0 !important;
  }

  .cell {
    padding: 5px !important;
  }

  .cell-img-1, .cell-img-2 {
    width: 80%;
    height: auto;
  }

  .mainContent {
    padding: 0 !important;
  }

  .table {
    padding: 0 !important;
  }

  .row {
    margin: 0 !important;
  }
}

@media (max-width: 375px) {
  .cell {
    padding: 3px !important;
  }

  .cell-img {
    width: 75%;
    height: auto;
  }
}

/* Buttons */
.topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

/* Images */
img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Side Content */
.sideContent {
  height: 100vh;
  background-color: rgba(7, 18, 36, 0.5);
}

.main-content {
  background-image: url("../img/background_photo.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .container {
  margin-left: 0;
}

/* Tables */
.table {
  padding: 20px;
}
.topTable {
  margin: 0 !important;
  padding: 0 !important;

}
.table {
  padding: 20px 300px 20px  50px;
  margin: 0 !important;
}

/* Cells */

.cell {
  position: relative;
  overflow: hidden;
  background-color: rgba(7, 18, 36, 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell .image-container img {

  object-fit: cover;
  border-radius: 50%;
}

.cell a {
  width: 80%;
  border-radius: 20px;
}

.cell img {
  border-radius: 20px;
}

.image-container{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent !important;
}

.bo1{
  height: 50px;
  width: 50px;

}


.player-link {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}



/* Border Radius */
#topRight {
  border-top-right-radius: 25px;
}
#topLeft {
  border-top-left-radius: 25px;
}
#bottomRight {
  border-bottom-right-radius: 25px;
}
#bottomLeft {
  border-bottom-left-radius: 25px;
}

/* Navbar */
.navbar .dropdown-submenu .dropdown-toggle::after {
  display: none;
}

.navbar-bg {
  background-color: #071224;
}

.navbar-bg .navbar-nav .nav-link {
  color: #fff;
}

#navbarNav {
  background-color: #071224;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:hover + .dropdown-menu {
  display: block;
}

.dropdown-submenu:not(:hover) .dropdown-menu {
  display: none;
}

.navbar-nav .nav-link {
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  color: #1769FF;
}

.nav-link {
  text-align: center;
}

/*@media (max-width: 768px) {*/
/*  .navbar-nav {*/
/*    display: block;*/
/*    width: 100%;*/
/*  }*/

/*  .navbar-nav .nav-item {*/
/*    margin-bottom: 10px;*/
/*  }*/

/*  .navbar-nav .nav-item .nav-link {*/
/*    text-align: left;*/
/*  }*/

/*  .navbar-nav .dropdown-menu {*/
/*    position: static;*/
/*    float: none;*/
/*  }*/
/*}*/

/*@media (max-width: 480px) {*/
/*  .navbar-nav {*/
/*    display: block;*/
/*    width: 100%;*/
/*  }*/

/*  .navbar-nav .nav-item {*/
/*    margin-bottom: 10px;*/
/*  }*/

/*  .navbar-nav .nav-item .nav-link {*/
/*    text-align: left;*/
/*  }*/

/*  .navbar-nav .dropdown-menu {*/
/*    position: static;*/
/*    float: none;*/
/*  }*/
/*}*/


/* Body */
.body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: #ececec;
  background-size: cover;
  min-height: 100vh;
}

.box {
  padding: 40px 30px 40px 40px;
}

.box-area {
  min-height: 80vh;
  min-width: 85vh;
}

.box-login
{
  min-height: 80vh;
  min-width: 85vh;
}

::placeholder {
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .box-area {
    margin: 0 10px;
  }
}

/*Navbar*/
.navbar-nav {
  display: flex;
}

.navbar-nav .nav-item {
  flex: 1;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-el {
  border-bottom: solid 1px transparent;
}

.nav-el:hover {
  background-color: #071224;
  border-bottom: solid 1px #1769FF;
}

.nav-item-right {
  display: flex;
  justify-content: flex-end;
}

.exclude-justify {
  justify-content: normal !important;
}

.nav-el {
  margin-right: 40px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #071224;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: auto;
}
.social-icons {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

.icon-padding {
    margin: 0 !important;
    padding: 0 !important;
}

.btn {
  margin-top: 0;
}

@media (min-width: 992px) {
  .btn.signup, .btn.login, .btn.logout{
    margin-top: 24px;
  }
}


.btn.rounded-pill.me-2 {
  /* background-color: #3f474f !important; old color */
  background-color: #071224 !important;
}

.navbar {
  z-index: 2;
  height: 60px;
}

.navbar-toggler{
  margin-left: 10px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}



#nickNameP{
  border: 1px solid #FFF;
  display: inline-block;
  color: gainsboro;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin: 24px 8px auto auto;
  width: auto;
}
#logoutButton{
  background-color: indianred;
  border-color: #3f474f !important;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 79px;
}

.custom-search-bar {
  max-width: 300px;
  height: 30px;
  border-radius: 10px !important;
}


.nav-item-center .login-logo {
  width: 40px;
  height: 40px;
  transition: width 0.3s ease, height 0.3s ease;
  margin-top: 5px;
  margin-bottom: 10px;
}


@media (max-width: 767.98px) {
  .custom-search-bar {
    max-width: 50%;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-collapse.show .nav-item-center .login-logo {
    width: 60px !important;
    height: 60px !important;
    margin: auto !important;
  }

  .navbar-nav {
    justify-content: center;
  }
}

.login-logo:hover {
  cursor: pointer;
}



/*https://visme.co/blog/website-color-schemes/*/

